.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transform: translate(0, -13px);
  transition: opacity .3s ease;
}

.profile__edit-button::before {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url(../../../image/edit-button.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
}

.profile__edit-button:hover {
  opacity: .3;
  transition: .3s ease;
}

@media (max-width: 620px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 31px 0 0 0;
    transform: translate(0, -6px);
  }
  .profile__edit-button::before {
    width: 7.5px;
    height: 7.5px;
    margin-left: -4.25px;
    margin-top: -4.25px;
  }
}