@import url(./__image/card__image.css);
@import url(./__info/card__info.css);
@import url(./__title/card__title.css);
@import url(./__button-like/card__button-like.css);
@import url(./__button-delet/card__button-delet.css);
@import url(./__button-like/_active/card__button-like_active.css);



.card {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

